<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    
    <!-- ----------------- 3 ----------------- Botón para mostrar las fotos -->
    <ion-fab-button (click)="mostrarFotos = !mostrarFotos">
      <ion-icon name="images"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- ----------------- 2 ----------------- Mostrar las fotos en el tab3 -->
  <ion-grid *ngIf="mostrarFotos">
    <ion-row>
      <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
        <div>
          <ion-img [src]="photo.webviewPath"></ion-img>
          <!-- ----------------- 1 ----------------- Mostrar el nombre de las fotos debajo de cada foto -->
          <h4>{{photo.filepath}}</h4>
        </div>
        
      </ion-col>  
    </ion-row>
  </ion-grid>

  
</ion-content>
